<h1 class="titleForm">Advertisements</h1>
<div id="ads" class="ads">
    <table>
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Description</th>
            <th>Price</th>
            <th>Date Published</th>
            <th>Actions</th>
        </tr>
        {{#each ads}}
            <tr data-id="{{_id}}">
                <td>{{title}}</td>
                <td>{{publisher}}</td>
                <td style="width : 450px;
                                   overflow:hidden;
                                   display:inline-block;
                                   text-overflow: ellipsis;
                                   white-space: nowrap;">{{description}}</td>
                <td>{{price}}</td>
                <td>{{datePublished}}</td>
                <td>
                    <a href="#" class="btnReadMore">[Read more]</a>
                    {{#if isAuthor}}
                    <a href="#" class="btnDelete">[Delete]</a>
                    <a href="#" class="btnEdit">[Edit]</a>
                    {{/if}}
                </td>
                <td style="display: none">{{image}}</td>
            </tr>
        {{/each}}
    </table>
</div>