<div>
    {{#if checkImage}}
    <img src="{{image}}" height="350" width="450">
    {{/if}}
    <br>
    <label>Title:</label>
    <h1>{{title}}</h1>
    <label>Description:</label>
    <p>{{description}}</p>
    <label>Publisher:</label>
    <div>{{author}}</div>
    <label>Date:</label>
    <div>{{date}}</div>
    <div>Views: {{views}}</div>
</div>