@page "{id}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container container-fluid">
    <div class="row">
        <div class=" pull-left"><img style="float: left" src="@Model.Book.ImageUrl" /></div>
        <div class="col-sm-8">
            <h3>@Model.Book.Title</h3>
            <h4>@Model.Book.Author</h4>
            @Model.Book.Description
            <div>
                <strong>Status: </strong><strong style="color: green">@Model.Book.Status</strong>
            </div>
            @if (Model.Book.Status.ToLower().Equals("at home"))
            {
                <a asp-page="/Book/Borrow" class="btn btn-success">Borrow</a>
            }
            else
            {
                <a asp-page-handler="ReturnBook" class="btn btn-warning">Return book</a>
            }

            <a asp-page="/Book/Status" asp-route-id=@Model.Book.Id class="btn btn-info">Status history</a>
            
            <a asp-page-handler="DeleteBook" class="btn btn-danger">Delete</a>

            <a asp-page="/Index" class="btn btn-secondary">Go back</a>
        </div>

    </div>
</div>
