<div class="col thumbnail">
    <a href="{{post.url}}">
        <img src="{{post.imageUrl}}">
    </a>
</div>
<div class="post-content">
    <div class="title">
        <a href="{{post.url}}">
            {{post.title}}
        </a>
    </div>
    <div class="details">
        <p>{{post.description}}</p>
        <div class="info">
            submitted {{post.date}} ago by {{post.author}}
        </div>
        <div class="controls">
            {{#if isAuthor}}
                <ul>
                    <li class="action"><a class="editLink" href="#/edit/post/{{post._id}}">edit</a></li>
                    <li class="action"><a class="deleteLink" href="#/delete/post/{{post._id}}">delete</a></li>
                </ul>
            {{/if}}
        </div>

    </div>
</div>
<div class="clear"></div>