@model CatDetailsViewModel

<h1>@Model.Name</h1>
<img src="@Model.ImageUrl" alt="@Model.Name" style="width: 300px"/>
<p style="font-weight: bold">Age: @Model.Age</p>
<p style="font-weight: bold">Breed: @Model.Breed</p>