{{>header}}
{{> nav}}
<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{username}}</h2>

            <form action="#/submitChirp" method="post" id="formSubmitChirp" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>{{chirpsCount}} chirps</span> | <span>{{following}} following</span> | <span>{{followers}} followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
            {{#each chirps}}
                <article class="chirp">
                    <div class="titlebar">
                        <a href="#" class="chirp-author">{{author}}</a>
                        <span class="chirp-time">{{time}}</span>
                    </div>
                    <p>{{text}}</p>
                </article>
            {{/each}}
        </div>
    </div>
</section>
{{> footer}}