{{> header}}
<section id="create-receipt-view">
    <h1>Create Receipt</h1>
    <div class="table">
        <div class="table-head">
            <div class="col wide">Product Name</div>
            <div class="col wide">Quantity</div>
            <div class="col wide">Price per Unit</div>
            <div class="col">Sub-total</div>
            <div class="col">Action</div>
        </div>
        <div id="active-entries">
            {{#each entries}}
                <div class="row">
                    <div class="col wide">{{type}}</div>
                    <div class="col wide">{{qty}}</div>
                    <div class="col wide">{{price}}</div>
                    <div class="col">{{subtotal}}</div>
                    <div class="col right">
                        <a href="#/removeEntry/{{_id}}">&#10006;</a>
                    </div>
                </div>
            {{/each}}


            <div class="row">
                <form action="#/addProduct" method="post" id="create-entry-form">
                    <div class="col wide">
                        <input name="type" placeholder="Product name">
                    </div>
                    <div class="col wide">
                        <input name="qty" placeholder="Quantity">
                    </div>
                    <div class="col wide">
                        <input name="price" placeholder="Price per Unit">
                    </div>
                    <div class="col">Sub-total</div>
                    <div class="col">
                        <input id="addItemBtn" type="submit" value="Add"/>
                    </div>
                </form>
            </div>
            <div class="table-foot">
                <form action="#/total" method="post" id="create-receipt-form">
                    <div class="col wide">
                    </div>
                    <div class="col wide">
                    </div>
                    <div class="col wide right">Total:</div>
                    <div class="col">{{total}}</div>
                    <div class="col">
                        <input id="checkoutBtn" type="submit" value="Checkout"/>
                    </div>
                    <input type="hidden" name="receiptId"/>
                    <input type="hidden" name="productCount"/>
                    <input type="hidden" name="total"/>
                </form>
            </div>
        </div>
    </div>
</section>
{{>footer}}